*{        
    margin: 0px;
    padding: 0xp;
    text-decoration: none;
    border: none;
}

descripcion{
    background: -moz-radial-gradient(center, ellipse, grey, orange);
    border: 1px solid violet;
    display: flex;
    font-style: arial;     
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
}

localizacion, servicios, tipoHabitacion, precioNoche{
    background-color: yellow;
    border: 1px solid violet;
    border-radius: 5px;
    padding: 3px;  
}

provincia, ciudad, calle, suit, doble, simple, nombre{
    background-color: lightgreen;
    border: 1px solid red;
    border-radius: 5px;
    padding: 3px;
}